fastapi==0.115.12
flaml==2.3.5
joblib==1.4.2
lightning==2.5.0.post0
matplotlib==3.10.3
motor==3.7.1
numpy==2.2.6
pandas==2.2.3
pydantic==2.11.5
pymongo==4.13.0
pytorch_forecasting==1.2.0
scikit_learn==1.6.1
torch==2.6.0
